NODE_ENV=DEVELOPMENT
PORT=8080
DATABASE_URL=postgresql://admin:password@localhost:5432/truecaller_db
REDIS_URL=redis://localhost:6379
REDIS_TTL=3600
# Rate limiting configuration
REDIS_RATE_LIMIT_WINDOW=60
REDIS_RATE_LIMIT_MAX=100
SESSION_TTL=2592000